body{
    background-color: grey  !important;
    font-weight: 400 ;
    font-size: 20px ;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(...) cover;
    background-repeat: no-repeat;

}
.navbar .container-fluid .navbar-brand{
    color: aqua ;
    font-size: 30px;
}

.navbar .container-fluid .collapse .navbar-nav .navbar-item .nav-link:hover{
    color: azure;
    text-decoration: underline mediumspringgreen;
}

h1{
    font-weight: 800;
    font-size: 40px;
}
.card .card-body a:hover{
    background-color: mediumspringgreen;
}
.navbar .container-fluid .collapse .navbar-nav .navbar-item .nav-link img{
    width: 10px;
    height: auto;
}