body{
    background-color: grey  !important;
    font-weight: 400 ;
    font-size: 20px ;
    font-family: 'Times New Roman', Times, serif;

}
.navbar-brand{
    color: aqua ;
    font-size: 30px;
}

.navbar .container-fluid .collapse .navbar-nav.navbar-nav .nav-link:hover{
    color: azure;
    text-decoration: underline mediumspringgreen;
}

h1{
    font-weight: 800;
    font-size: 40px;
}